In [18]:
import pandas as pd

### pandas 的基本操作

#### 配置显示参数

In [19]:
pd.set_option("display.max_columns", 500)  # 显示 500 列数据

#### 读取文件

In [20]:
dataset = pd.read_csv(r"/Users/zzzongzii/Code/learning/pandas/Flights_2018_1.csv")
dataset.head(10)

/var/folders/3q/tf7n_ldx1cv2y6g7r3jwz40w0000gn/T/ipykernel_16051/1308562374.py:1: DtypeWarning: Columns (11,13,57,86,93) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(r"/Users/zzzongzii/Code/learning/pandas/Flights_2018_1.csv")

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Originally_Scheduled_Code_Share_Airline,DOT_ID_Originally_Scheduled_Code_Share_Airline,IATA_Code_Originally_Scheduled_Code_Share_Airline,Flight_Num_Originally_Scheduled_Code_Share_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,Origin,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,Dest,DestCityName,DestState,DestStateFips,DestStateName,DestWac,CRSDepTime,DepTime,DepDelay,DepDelayMinutes,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrTime,ArrDelay,ArrDelayMinutes,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,Cancelled,CancellationCode,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Flights,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,FirstDepTime,TotalAddGTime,LongestAddGTime,DivAirportLandings,DivReachedDest,DivActualElapsedTime,DivArrDelay,DivDistance,Div1Airport,Div1AirportID,Div1AirportSeqID,Div1WheelsOn,Div1TotalGTime,Div1LongestGTime,Div1WheelsOff,Div1TailNum,Div2Airport,Div2AirportID,Div2AirportSeqID,Div2WheelsOn,Div2TotalGTime,Div2LongestGTime,Div2WheelsOff,Div2TailNum,Div3Airport,Div3AirportID,Div3AirportSeqID,Div3WheelsOn,Div3TotalGTime,Div3LongestGTime,Div3WheelsOff,Div3TailNum,Div4Airport,Div4AirportID,Div4AirportSeqID,Div4WheelsOn,Div4TotalGTime,Div4LongestGTime,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate,Unnamed: 119
0,2018,1,1,23,2,2018-01-23,DL,DL_CODESHARE,19790,DL,3298,NaN,NaN,NaN,NaN,9E,20363,9E,N8928A,3298,10146,1014602,30146,ABY,"Albany, GA",GA,13,Georgia,34,10397,1039707,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,1202,1157.0,-5.0,0.0,0.0,-1.0,1200-1259,14.0,1211.0,1249.0,7.0,1304,1256.0,-8.0,0.0,0.0,-1.0,1300-1359,0.0,NaN,0.0,62.0,59.0,38.0,1.0,145.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,2018,1,1,24,3,2018-01-24,DL,DL_CODESHARE,19790,DL,3298,NaN,NaN,NaN,NaN,9E,20363,9E,N800AY,3298,10146,1014602,30146,ABY,"Albany, GA",GA,13,Georgia,34,10397,1039707,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,1202,1157.0,-5.0,0.0,0.0,-1.0,1200-1259,13.0,1210.0,1246.0,12.0,1304,1258.0,-6.0,0.0,0.0,-1.0,1300-1359,0.0,NaN,0.0,62.0,61.0,36.0,1.0,145.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,2018,1,1,25,4,2018-01-25,DL,DL_CODESHARE,19790,DL,3298,NaN,NaN,NaN,NaN,9E,20363,9E,N8836A,3298,10146,1014602,30146,ABY,"Albany, GA",GA,13,Georgia,34,10397,1039707,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,1202,1153.0,-9.0,0.0,0.0,-1.0,1200-1259,18.0,1211.0,1251.0,11.0,1304,1302.0,-2.0,0.0,0.0,-1.0,1300-1359,0.0,NaN,0.0,62.0,69.0,40.0,1.0,145.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,2018,1,1,26,5,2018-01-26,DL,DL_CODESHARE,19790,DL,3298,NaN,NaN,NaN,NaN,9E,20363,9E,N800AY,3298,10146,1014602,30146,ABY,"Albany, GA",GA,13,Georgia,34,10397,1039707,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,1202,1150.0,-12.0,0.0,0.0,-1.0,1200-1259,17.0,1207.0,1242.0,11.0,1304,1253.0,-11.0,0.0,0.0,-1.0,1300-1359,0.0,NaN,0.0,62.0,63.0,35.0,1.0,145.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,2018,1,1,27,6,2018-01-27,DL,DL_CODESHARE,19790,DL,3298,NaN,NaN,NaN,NaN,9E,20363,9E,N8839E,3298,10146,1014602,30146,ABY,"Albany, GA",GA,13,Georgia,34,10397,1039707,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,1400,1355.0,-5.0,0.0,0.0,-1.0,1400-1459,17.0,1412.0,1448.0,11.0,1500,1459.0,-1.0,0.0,0.0,-1.0,1500-1559,0.0,NaN,0.0,60.0,64.0,36.0,1.0,145.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
5,2018,1,1,28,7,2018-01-28,DL,DL_CODESHARE,19790,DL,3298,NaN,NaN,NaN,NaN,9E,20363,9E,N8918B,3298,10146,1014602,30146,ABY,"Albany, GA",GA,13,Georgia,34,10397,1039707,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,1202,1202.0,NaN,NaN,NaN,NaN,1200-1259,34.0,1236.0,1313.0,13.0,1304,1326.0,22.0,22.0,1.0,1.0,1300-1359,0.0,NaN,0.0,62.0,84.0,37.0,1.0,145.0,1,0.0,0.0,22.0,0.0,0.0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
6,2018,1,1,29,1,2018-01-29,DL,DL_CODESHARE,19790,DL,3298,NaN,NaN,NaN,NaN,9E,20363,9E,N8783E,3298,10146,1014602,30146,ABY,"Albany, GA",GA,13,Georgia,34,10397,1039707,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,1202,1204.0,2.0,2.0,0.0,0.0,1200-1259,15.0,1219.0,1253.0,10.0,1304,1303.0,-1.0,0.0,0.0,-1.0,1300-1359,0.0,NaN,0.0,62.0,59.0,34.0,1.0,145.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
7,2018,1,1,30,2,2018-01-30,DL,DL_CODESHARE,19790,DL,3298,NaN,NaN,NaN,NaN,9E,20363,9E,N8946A,3298,10146,1014602,30146,ABY,"Albany, GA",GA,13,Georgia,34,10397,1039707,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,1202,1153.0,-9.0,0.0,0.0,-1.0,1200-1259,7.0,1200.0,1244.0,11.0,1304,1255.0,-9.0,0.0,0.0,-1.0,1300-1359,0.0,NaN,0.0,62.0,62.0,44.0,1.0,145.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
8,2018,1,1,31,3,2018-01-31,DL,DL_CODESHARE,19790,DL,3298,NaN,NaN,NaN,NaN,9E,20363,9E,N8918B,3298,10146,1014602,30146,ABY,"Albany, GA",GA,13,Georgia,34,10397,1039707,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,1202,1153.0,-9.0,0.0,0.0,-1.0,1200-1259,26.0,1219.0,1256.0,8.0,1304,1304.0,NaN,NaN,NaN,NaN,1300-1359,0.0,NaN,0.0,62.0,71.0,37.0,1.0,145.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
9,2018,1,1,3,3,2018-01-03,DL,DL_CODESHARE,19790,DL,3298,NaN,NaN,NaN,NaN,9E,20363,9E,N981EV,3298,10397,1039707,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,10146,1014602,30146,ABY,"Albany, GA",GA,13,Georgia,34,1037,1101.0,24.0,24.0,1.0,1.0,1000-1059,23.0,1124.0,1156.0,3.0,1137,1159.0,22.0,22.0,1.0,1.0,1100-1159,0.0,NaN,0.0,60.0,58.0,32.0,1.0,145.0,1,22.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [21]:
dataset.tail(10)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Originally_Scheduled_Code_Share_Airline,DOT_ID_Originally_Scheduled_Code_Share_Airline,IATA_Code_Originally_Scheduled_Code_Share_Airline,Flight_Num_Originally_Scheduled_Code_Share_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,Origin,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,Dest,DestCityName,DestState,DestStateFips,DestStateName,DestWac,CRSDepTime,DepTime,DepDelay,DepDelayMinutes,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrTime,ArrDelay,ArrDelayMinutes,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,Cancelled,CancellationCode,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Flights,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,FirstDepTime,TotalAddGTime,LongestAddGTime,DivAirportLandings,DivReachedDest,DivActualElapsedTime,DivArrDelay,DivDistance,Div1Airport,Div1AirportID,Div1AirportSeqID,Div1WheelsOn,Div1TotalGTime,Div1LongestGTime,Div1WheelsOff,Div1TailNum,Div2Airport,Div2AirportID,Div2AirportSeqID,Div2WheelsOn,Div2TotalGTime,Div2LongestGTime,Div2WheelsOff,Div2TailNum,Div3Airport,Div3AirportID,Div3AirportSeqID,Div3WheelsOn,Div3TotalGTime,Div3LongestGTime,Div3WheelsOff,Div3TailNum,Div4Airport,Div4AirportID,Div4AirportSeqID,Div4WheelsOn,Div4TotalGTime,Div4LongestGTime,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate,Unnamed: 119
457678,2018,1,1,22,1,2018-01-22,DL,DL_CODESHARE,19790,DL,4778,OO,20304.0,OO,4778.0,9E,20363,9E,N181PQ,9178,10397,1039707,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,13422,1342202,30562,MOB,"Mobile, AL",AL,1,Alabama,51,1026,1111.0,45.0,45.0,1.0,3.0,1000-1059,16.0,1127.0,1123.0,4.0,1051,1127.0,36.0,36.0,1.0,2.0,1000-1059,0.0,NaN,0.0,85.0,76.0,56.0,1.0,302.0,2,36.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
457679,2018,1,1,22,1,2018-01-22,DL,DL_CODESHARE,19790,DL,4778,OO,20304.0,OO,4778.0,9E,20363,9E,N181PQ,9180,13422,1342202,30562,MOB,"Mobile, AL",AL,1,Alabama,51,10397,1039707,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,1116,1157.0,41.0,41.0,1.0,2.0,1100-1159,42.0,1239.0,1425.0,8.0,1342,1433.0,51.0,51.0,1.0,3.0,1300-1359,0.0,NaN,0.0,86.0,96.0,46.0,1.0,302.0,2,41.0,0.0,10.0,0.0,0.0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
457680,2018,1,1,24,3,2018-01-24,DL,DL_CODESHARE,19790,DL,4591,OO,20304.0,OO,4591.0,9E,20363,9E,N8974C,9178,11193,1119302,33105,CVG,"Cincinnati, OH",KY,21,Kentucky,52,13930,1393006,30977,ORD,"Chicago, IL",IL,17,Illinois,41,1315,1310.0,-5.0,0.0,0.0,-1.0,1300-1359,25.0,1335.0,1322.0,8.0,1333,1330.0,-3.0,0.0,0.0,-1.0,1300-1359,0.0,NaN,0.0,78.0,80.0,47.0,1.0,264.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
457681,2018,1,1,24,3,2018-01-24,DL,DL_CODESHARE,19790,DL,4591,OO,20304.0,OO,4591.0,9E,20363,9E,N8974C,9179,13930,1393006,30977,ORD,"Chicago, IL",IL,17,Illinois,41,11193,1119302,33105,CVG,"Cincinnati, OH",KY,21,Kentucky,52,1400,1359.0,-1.0,0.0,0.0,-1.0,1400-1459,31.0,1430.0,1611.0,4.0,1616,1615.0,-1.0,0.0,0.0,-1.0,1600-1659,0.0,NaN,0.0,76.0,76.0,41.0,1.0,264.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
457682,2018,1,1,25,4,2018-01-25,DL,DL_CODESHARE,19790,DL,4574,OO,20304.0,OO,4574.0,9E,20363,9E,N8969A,9178,11433,1143302,31295,DTW,"Detroit, MI",MI,26,Michigan,43,13230,1323002,32070,MDT,"Harrisburg, PA",PA,42,Pennsylvania,23,1525,1604.0,39.0,39.0,1.0,2.0,1500-1559,12.0,1616.0,1711.0,3.0,1702,1714.0,12.0,12.0,0.0,0.0,1700-1759,0.0,NaN,0.0,97.0,70.0,55.0,1.0,371.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
457683,2018,1,1,25,4,2018-01-25,DL,DL_CODESHARE,19790,DL,4574,OO,20304.0,OO,4574.0,9E,20363,9E,N8969A,9179,13230,1323002,32070,MDT,"Harrisburg, PA",PA,42,Pennsylvania,23,11433,1143302,31295,DTW,"Detroit, MI",MI,26,Michigan,43,1731,1806.0,35.0,35.0,1.0,2.0,1700-1759,13.0,1819.0,1930.0,8.0,1919,1938.0,19.0,19.0,1.0,1.0,1900-1959,0.0,NaN,0.0,90.0,92.0,71.0,1.0,371.0,2,19.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
457684,2018,1,1,25,4,2018-01-25,DL,DL_CODESHARE,19790,DL,3551,OO,20304.0,OO,3551.0,9E,20363,9E,N293PQ,9180,13487,1348702,31650,MSP,"Minneapolis, MN",MN,27,Minnesota,63,14696,1469608,34696,SBN,"South Bend, IN",IN,18,Indiana,42,1940,2001.0,21.0,21.0,1.0,1.0,1900-1959,56.0,2057.0,2252.0,4.0,2230,2256.0,26.0,26.0,1.0,1.0,2200-2259,0.0,NaN,0.0,110.0,115.0,55.0,1.0,411.0,2,21.0,0.0,5.0,0.0,0.0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
457685,2018,1,1,26,5,2018-01-26,DL,DL_CODESHARE,19790,DL,3554,OO,20304.0,OO,3554.0,9E,20363,9E,N293PQ,9178,14696,1469608,34696,SBN,"South Bend, IN",IN,18,Indiana,42,13487,1348702,31650,MSP,"Minneapolis, MN",MN,27,Minnesota,63,704,934.0,150.0,150.0,1.0,10.0,0700-0759,35.0,1009.0,1015.0,6.0,804,1021.0,137.0,137.0,1.0,9.0,0800-0859,0.0,NaN,0.0,120.0,107.0,66.0,1.0,411.0,2,137.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
457686,2018,1,1,28,7,2018-01-28,DL,DL_CODESHARE,19790,DL,5727,CP,21167.0,CP,5727.0,OO,20304,OO,N825SK,4864,14869,1486903,34614,SLC,"Salt Lake City, UT",UT,49,Utah,87,14893,1489302,33192,SMF,"Sacramento, CA",CA,6,California,91,1503,1536.0,33.0,33.0,1.0,2.0,1500-1559,23.0,1559.0,1613.0,7.0,1608,1620.0,12.0,12.0,0.0,0.0,1600-1659,0.0,NaN,0.0,125.0,104.0,74.0,1.0,532.0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
457687,2018,1,1,28,7,2018-01-28,DL,DL_CODESHARE,19790,DL,5727,CP,21167.0,CP,5727.0,OO,20304,OO,N825SK,4865,14893,1489302,33192,SMF,"Sacramento, CA",CA,6,California,91,14869,1486903,34614,SLC,"Salt Lake City, UT",UT,49,Utah,87,1638,1707.0,29.0,29.0,1.0,1.0,1600-1659,15.0,1722.0,1941.0,7.0,1924,1948.0,24.0,24.0,1.0,1.0,1900-1959,0.0,NaN,0.0,105.0,101.0,79.0,1.0,532.0,3,24.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [22]:
# 随机选取几个数据
dataset.sample(3)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Originally_Scheduled_Code_Share_Airline,DOT_ID_Originally_Scheduled_Code_Share_Airline,IATA_Code_Originally_Scheduled_Code_Share_Airline,Flight_Num_Originally_Scheduled_Code_Share_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,Origin,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,Dest,DestCityName,DestState,DestStateFips,DestStateName,DestWac,CRSDepTime,DepTime,DepDelay,DepDelayMinutes,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrTime,ArrDelay,ArrDelayMinutes,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,Cancelled,CancellationCode,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Flights,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,FirstDepTime,TotalAddGTime,LongestAddGTime,DivAirportLandings,DivReachedDest,DivActualElapsedTime,DivArrDelay,DivDistance,Div1Airport,Div1AirportID,Div1AirportSeqID,Div1WheelsOn,Div1TotalGTime,Div1LongestGTime,Div1WheelsOff,Div1TailNum,Div2Airport,Div2AirportID,Div2AirportSeqID,Div2WheelsOn,Div2TotalGTime,Div2LongestGTime,Div2WheelsOff,Div2TailNum,Div3Airport,Div3AirportID,Div3AirportSeqID,Div3WheelsOn,Div3TotalGTime,Div3LongestGTime,Div3WheelsOff,Div3TailNum,Div4Airport,Div4AirportID,Div4AirportSeqID,Div4WheelsOn,Div4TotalGTime,Div4LongestGTime,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate,Unnamed: 119
1929,2018,1,1,10,3,2018-01-10,DL,DL_CODESHARE,19790,DL,3352,NaN,NaN,NaN,NaN,9E,20363,9E,N8980A,3352,12953,1295304,31703,LGA,"New York, NY",NY,36,New York,22,10792,1079206,30792,BUF,"Buffalo, NY",NY,36,New York,22,2153,2151.0,-2.0,0.0,0.0,-1.0,2100-2159,17.0,2208.0,2301.0,17.0,2322,2318.0,-4.0,0.0,0.0,-1.0,2300-2359,0.0,NaN,0.0,89.0,87.0,53.0,1.0,292.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
412779,2018,1,1,11,4,2018-01-11,WN,WN,19393,WN,1412,NaN,NaN,NaN,NaN,WN,19393,WN,N7876A,1412,14107,1410702,30466,PHX,"Phoenix, AZ",AZ,4,Arizona,81,12892,1289208,32575,LAX,"Los Angeles, CA",CA,6,California,91,1625,1626.0,1.0,1.0,0.0,0.0,1600-1659,7.0,1633.0,1631.0,8.0,1655,1639.0,-16.0,0.0,0.0,-2.0,1600-1659,0.0,NaN,0.0,90.0,73.0,58.0,1.0,370.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
268974,2018,1,1,10,3,2018-01-10,WN,WN,19393,WN,296,NaN,NaN,NaN,NaN,WN,19393,WN,N952WN,296,13198,1319801,33198,MCI,"Kansas City, MO",MO,29,Missouri,64,13232,1323202,30977,MDW,"Chicago, IL",IL,17,Illinois,41,725,725.0,0.0,0.0,0.0,0.0,0700-0759,11.0,736.0,836.0,13.0,850,849.0,-1.0,0.0,0.0,-1.0,0800-0859,0.0,NaN,0.0,85.0,84.0,60.0,1.0,405.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [23]:
# 随机选取一定比例的数据
dataset.sample(frac=0.00001)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Originally_Scheduled_Code_Share_Airline,DOT_ID_Originally_Scheduled_Code_Share_Airline,IATA_Code_Originally_Scheduled_Code_Share_Airline,Flight_Num_Originally_Scheduled_Code_Share_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,Origin,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,Dest,DestCityName,DestState,DestStateFips,DestStateName,DestWac,CRSDepTime,DepTime,DepDelay,DepDelayMinutes,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrTime,ArrDelay,ArrDelayMinutes,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,Cancelled,CancellationCode,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Flights,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,FirstDepTime,TotalAddGTime,LongestAddGTime,DivAirportLandings,DivReachedDest,DivActualElapsedTime,DivArrDelay,DivDistance,Div1Airport,Div1AirportID,Div1AirportSeqID,Div1WheelsOn,Div1TotalGTime,Div1LongestGTime,Div1WheelsOff,Div1TailNum,Div2Airport,Div2AirportID,Div2AirportSeqID,Div2WheelsOn,Div2TotalGTime,Div2LongestGTime,Div2WheelsOff,Div2TailNum,Div3Airport,Div3AirportID,Div3AirportSeqID,Div3WheelsOn,Div3TotalGTime,Div3LongestGTime,Div3WheelsOff,Div3TailNum,Div4Airport,Div4AirportID,Div4AirportSeqID,Div4WheelsOn,Div4TotalGTime,Div4LongestGTime,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate,Unnamed: 119
428423,2018,1,1,7,7,2018-01-07,DL,DL_CODESHARE,19790,DL,6138,NaN,NaN,NaN,NaN,YX,20452,YX,N824MD,6138,11278,1127805,30852,DCA,"Washington, DC",VA,51,Virginia,38,12953,1295304,31703,LGA,"New York, NY",NY,36,New York,22,1100,1108.0,8.0,8.0,0.0,0.0,1100-1159,9.0,1117.0,1202.0,8.0,1224,1210.0,-14.0,0.0,0.0,-1.0,1200-1259,0.0,NaN,0.0,84.0,62.0,45.0,1.0,214.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
65364,2018,1,1,3,3,2018-01-03,WN,WN,19393,WN,1730,NaN,NaN,NaN,NaN,WN,19393,WN,N411WN,1730,11292,1129202,30325,DEN,"Denver, CO",CO,8,Colorado,82,11042,1104205,30647,CLE,"Cleveland, OH",OH,39,Ohio,44,1045,1055.0,10.0,10.0,0.0,0.0,1000-1059,15.0,1110.0,1534.0,5.0,1525,1539.0,14.0,14.0,0.0,0.0,1500-1559,0.0,NaN,0.0,160.0,164.0,144.0,1.0,1201.0,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
276426,2018,1,1,23,2,2018-01-23,WN,WN,19393,WN,382,NaN,NaN,NaN,NaN,WN,19393,WN,N8523W,382,10821,1082106,30852,BWI,"Baltimore, MD",MD,24,Maryland,35,13296,1329604,30721,MHT,"Manchester, NH",NH,33,New Hampshire,14,1955,2027.0,32.0,32.0,1.0,2.0,1900-1959,15.0,2042.0,2138.0,4.0,2115,2142.0,27.0,27.0,1.0,1.0,2100-2159,0.0,NaN,0.0,80.0,75.0,56.0,1.0,377.0,2,0.0,0.0,0.0,0.0,27.0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
103531,2018,1,1,10,3,2018-01-10,DL,DL,19790,DL,2608,NaN,NaN,NaN,NaN,DL,19790,DL,N970DL,2608,10397,1039707,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,10821,1082106,30852,BWI,"Baltimore, MD",MD,24,Maryland,35,734,732.0,-2.0,0.0,0.0,-1.0,0700-0759,16.0,748.0,908.0,6.0,919,914.0,-5.0,0.0,0.0,-1.0,0900-0959,0.0,NaN,0.0,105.0,102.0,80.0,1.0,577.0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
325253,2018,1,1,2,2,2018-01-02,F9,F9,20436,F9,429,NaN,NaN,NaN,NaN,F9,20436,F9,N227FR,429,11292,1129202,30325,DEN,"Denver, CO",CO,8,Colorado,82,14570,1457002,34570,RNO,"Reno, NV",NV,32,Nevada,85,1048,1147.0,59.0,59.0,1.0,3.0,1000-1059,13.0,1200.0,1252.0,9.0,1213,1301.0,48.0,48.0,1.0,3.0,1200-1259,0.0,NaN,0.0,145.0,134.0,112.0,1.0,804.0,4,25.0,0.0,0.0,0.0,23.0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

### 获取数据基本信息

#### 显示所有列名称

In [24]:
list(dataset.columns)

['Year',
 'Quarter',
 'Month',
 'DayofMonth',
 'DayOfWeek',
 'FlightDate',
 'Marketing_Airline_Network',
 'Operated_or_Branded_Code_Share_Partners',
 'DOT_ID_Marketing_Airline',
 'IATA_Code_Marketing_Airline',
 'Flight_Number_Marketing_Airline',
 'Originally_Scheduled_Code_Share_Airline',
 'DOT_ID_Originally_Scheduled_Code_Share_Airline',
 'IATA_Code_Originally_Scheduled_Code_Share_Airline',
 'Flight_Num_Originally_Scheduled_Code_Share_Airline',
 'Operating_Airline ',
 'DOT_ID_Operating_Airline',
 'IATA_Code_Operating_Airline',
 'Tail_Number',
 'Flight_Number_Operating_Airline',
 'OriginAirportID',
 'OriginAirportSeqID',
 'OriginCityMarketID',
 'Origin',
 'OriginCityName',
 'OriginState',
 'OriginStateFips',
 'OriginStateName',
 'OriginWac',
 'DestAirportID',
 'DestAirportSeqID',
 'DestCityMarketID',
 'Dest',
 'DestCityName',
 'DestState',
 'DestStateFips',
 'DestStateName',
 'DestWac',
 'CRSDepTime',
 'DepTime',
 'DepDelay',
 'DepDelayMinutes',
 'DepDel15',
 'DepartureDelayGroups',
 'DepTimeBlk',
 'TaxiOut',
 'WheelsOff',
 'WheelsOn',
 'TaxiIn',
 'CRSArrTime',
 'ArrTime',
 'ArrDelay',
 'ArrDelayMinutes',
 'ArrDel15',
 'ArrivalDelayGroups',
 'ArrTimeBlk',
 'Cancelled',
 'CancellationCode',
 'Diverted',
 'CRSElapsedTime',
 'ActualElapsedTime',
 'AirTime',
 'Flights',
 'Distance',
 'DistanceGroup',
 'CarrierDelay',
 'WeatherDelay',
 'NASDelay',
 'SecurityDelay',
 'LateAircraftDelay',
 'FirstDepTime',
 'TotalAddGTime',
 'LongestAddGTime',
 'DivAirportLandings',
 'DivReachedDest',
 'DivActualElapsedTime',
 'DivArrDelay',
 'DivDistance',
 'Div1Airport',
 'Div1AirportID',
 'Div1AirportSeqID',
 'Div1WheelsOn',
 'Div1TotalGTime',
 'Div1LongestGTime',
 'Div1WheelsOff',
 'Div1TailNum',
 'Div2Airport',
 'Div2AirportID',
 'Div2AirportSeqID',
 'Div2WheelsOn',
 'Div2TotalGTime',
 'Div2LongestGTime',
 'Div2WheelsOff',
 'Div2TailNum',
 'Div3Airport',
 'Div3AirportID',
 'Div3AirportSeqID',
 'Div3WheelsOn',
 'Div3TotalGTime',
 'Div3LongestGTime',
 'Div3WheelsOff',
 'Div3TailNum',
 'Div4Airport',
 'Div4AirportID',
 'Div4AirportSeqID',
 'Div4WheelsOn',
 'Div4TotalGTime',
 'Div4LongestGTime',
 'Div4WheelsOff',
 'Div4TailNum',
 'Div5Airport',
 'Div5AirportID',
 'Div5AirportSeqID',
 'Div5WheelsOn',
 'Div5TotalGTime',
 'Div5LongestGTime',
 'Div5WheelsOff',
 'Div5TailNum',
 'Duplicate',
 'Unnamed: 119']

#### 显示索引范围

In [25]:
dataset.index

RangeIndex(start=0, stop=457688, step=1)

#### 显示基本信息

In [26]:
dataset.info(verbose=True)  # verbose 显示详细信息

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457688 entries, 0 to 457687
Data columns (total 120 columns):
 #    Column                                              Dtype
---   ------                                              -----
 0    Year                                                int64
 1    Quarter                                             int64
 2    Month                                               int64
 3    DayofMonth                                          int64
 4    DayOfWeek                                           int64
 5    FlightDate                                          object
 6    Marketing_Airline_Network                           object
 7    Operated_or_Branded_Code_Share_Partners             object
 8    DOT_ID_Marketing_Airline                            int64
 9    IATA_Code_Marketing_Airline                         object
 10   Flight_Number_Marketing_Airline                     int64
 11   Originally_Scheduled_Code_Share_Airline             object
 12   DOT_ID_Originally_Scheduled_Code_Share_Airline      float64
 13   IATA_Code_Originally_Scheduled_Code_Share_Airline   object
 14   Flight_Num_Originally_Scheduled_Code_Share_Airline  float64
 15   Operating_Airline                                   object
 16   DOT_ID_Operating_Airline                            int64
 17   IATA_Code_Operating_Airline                         object
 18   Tail_Number                                         object
 19   Flight_Number_Operating_Airline                     int64
 20   OriginAirportID                                     int64
 21   OriginAirportSeqID                                  int64
 22   OriginCityMarketID                                  int64
 23   Origin                                              object
 24   OriginCityName                                      object
 25   OriginState                                         object
 26   OriginStateFips                                     int64
 27   OriginStateName                                     object
 28   OriginWac                                           int64
 29   DestAirportID                                       int64
 30   DestAirportSeqID                                    int64
 31   DestCityMarketID                                    int64
 32   Dest                                                object
 33   DestCityName                                        object
 34   DestState                                           object
 35   DestStateFips                                       int64
 36   DestStateName                                       object
 37   DestWac                                             int64
 38   CRSDepTime                                          int64
 39   DepTime                                             float64
 40   DepDelay                                            float64
 41   DepDelayMinutes                                     float64
 42   DepDel15                                            float64
 43   DepartureDelayGroups                                float64
 44   DepTimeBlk                                          object
 45   TaxiOut                                             float64
 46   WheelsOff                                           float64
 47   WheelsOn                                            float64
 48   TaxiIn                                              float64
 49   CRSArrTime                                          int64
 50   ArrTime                                             float64
 51   ArrDelay                                            float64
 52   ArrDelayMinutes                                     float64
 53   ArrDel15                                            float64
 54   ArrivalDelayGroups                                  float64
 55   ArrTimeBlk                                          object
 56   Cancelled                                           float64
 57   CancellationCode                                    object
 58   Diverted                                            float64
 59   CRSElapsedTime                                      float64
 60   ActualElapsedTime                                   float64
 61   AirTime                                             float64
 62   Flights                                             float64
 63   Distance                                            float64
 64   DistanceGroup                                       int64
 65   CarrierDelay                                        float64
 66   WeatherDelay                                        float64
 67   NASDelay                                            float64
 68   SecurityDelay                                       float64
 69   LateAircraftDelay                                   float64
 70   FirstDepTime                                        float64
 71   TotalAddGTime                                       float64
 72   LongestAddGTime                                     float64
 73   DivAirportLandings                                  int64
 74   DivReachedDest                                      float64
 75   DivActualElapsedTime                                float64
 76   DivArrDelay                                         float64
 77   DivDistance                                         float64
 78   Div1Airport                                         object
 79   Div1AirportID                                       float64
 80   Div1AirportSeqID                                    float64
 81   Div1WheelsOn                                        float64
 82   Div1TotalGTime                                      float64
 83   Div1LongestGTime                                    float64
 84   Div1WheelsOff                                       float64
 85   Div1TailNum                                         object
 86   Div2Airport                                         object
 87   Div2AirportID                                       float64
 88   Div2AirportSeqID                                    float64
 89   Div2WheelsOn                                        float64
 90   Div2TotalGTime                                      float64
 91   Div2LongestGTime                                    float64
 92   Div2WheelsOff                                       float64
 93   Div2TailNum                                         object
 94   Div3Airport                                         float64
 95   Div3AirportID                                       float64
 96   Div3AirportSeqID                                    float64
 97   Div3WheelsOn                                        float64
 98   Div3TotalGTime                                      float64
 99   Div3LongestGTime                                    float64
 100  Div3WheelsOff                                       float64
 101  Div3TailNum                                         float64
 102  Div4Airport                                         float64
 103  Div4AirportID                                       float64
 104  Div4AirportSeqID                                    float64
 105  Div4WheelsOn                                        float64
 106  Div4TotalGTime                                      float64
 107  Div4LongestGTime                                    float64
 108  Div4WheelsOff                                       float64
 109  Div4TailNum                                         float64
 110  Div5Airport                                         float64
 111  Div5AirportID                                       float64
 112  Div5AirportSeqID                                    float64
 113  Div5WheelsOn                                        float64
 114  Div5TotalGTime                                      float64
 115  Div5LongestGTime                                    float64
 116  Div5WheelsOff                                       float64
 117  Div5TailNum                                         float64
 118  Duplicate                                           object
 119  Unnamed: 119                                        float64
dtypes: float64(72), int64(23), object(25)
memory usage: 419.0+ MB

In [ ]:
# 查看统计信息
dataset.describe()

,Year,Quarter,Month,DayofMonth,DayOfWeek,DOT_ID_Marketing_Airline,Flight_Number_Marketing_Airline,DOT_ID_Originally_Scheduled_Code_Share_Airline,Flight_Num_Originally_Scheduled_Code_Share_Airline,DOT_ID_Operating_Airline,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginStateFips,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestStateFips,DestWac,CRSDepTime,DepTime,DepDelay,DepDelayMinutes,DepDel15,DepartureDelayGroups,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrTime,ArrDelay,ArrDelayMinutes,ArrDel15,ArrivalDelayGroups,Cancelled,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Flights,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,FirstDepTime,TotalAddGTime,LongestAddGTime,DivAirportLandings,DivReachedDest,DivActualElapsedTime,DivArrDelay,DivDistance,Div1AirportID,Div1AirportSeqID,Div1WheelsOn,Div1TotalGTime,Div1LongestGTime,Div1WheelsOff,Div2AirportID,Div2AirportSeqID,Div2WheelsOn,Div2TotalGTime,Div2LongestGTime,Div2WheelsOff,Div3Airport,Div3AirportID,Div3AirportSeqID,Div3WheelsOn,Div3TotalGTime,Div3LongestGTime,Div3WheelsOff,Div3TailNum,Div4Airport,Div4AirportID,Div4AirportSeqID,Div4WheelsOn,Div4TotalGTime,Div4LongestGTime,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 119
count,457688.0,457688.0,457688.0,457688.000000,457688.000000,457688.000000,457688.000000,155.000000,155.000000,457688.000000,457688.000000,457688.000000,4.576880e+05,457688.000000,457688.000000,457688.000000,457688.000000,4.576880e+05,457688.000000,457688.000000,457688.000000,457688.000000,445251.000000,444763.000000,444763.000000,444763.000000,444763.000000,444227.000000,444236.000000,443815.000000,443806.000000,457688.000000,444667.000000,443721.000000,443721.000000,443721.000000,443721.000000,457688.000000,457688.000000,457688.000000,443923.000000,443062.000000,457688.0,457688.000000,457688.000000,77718.000000,77715.000000,77715.000000,77715.000000,77715.000000,2637.000000,2637.000000,2637.000000,457688.000000,1056.000000,735.000000,735.000000,1056.000000,1161.000000,1.161000e+03,1157.000000,1157.000000,1157.000000,751.000000,25.00000,2.500000e+01,25.000000,25.000000,25.000000,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,2018.0,1.0,1.0,15.956265,3.724955,19842.711559,2573.174302,20373.303226,5676.361290,19982.555376,2572.771172,12710.292638,1.271033e+06,31798.886368,25.870593,55.595032,12710.185572,1.271022e+06,31799.106197,25.872260,55.598196,1327.994345,1334.291692,9.922761,13.509154,0.181168,0.023489,17.341839,1359.866654,1475.658146,7.013109,1493.260472,1480.585872,2.753555,13.043385,0.175151,-0.333140,0.027726,0.002307,141.458459,134.324119,110.179171,1.0,783.318809,3.606645,22.291052,5.047867,14.700187,0.098514,27.217629,1261.671976,34.276071,33.639742,0.004409,0.696023,409.670748,274.560544,76.952652,12764.708872,1.276475e+06,1416.902334,23.721694,18.238548,1402.934754,11932.92000,1.193297e+06,1263.080000,22.040000,18.880000,1210.888889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.0,0.0,0.0,8.978231,1.984048,341.138350,1950.628705,101.066288,904.474001,431.034815,1950.517682,1531.041342,1.531039e+05,1283.257512,16.406046,27.354133,1530.964818,1.530962e+05,1283.177600,16.406447,27.353843,485.496014,495.127339,48.600082,47.328500,0.385158,2.234286,10.519383,495.030117,519.788300,5.539302,512.362238,523.276413,50.762547,46.757983,0.380096,2.370167,0.164188,0.047978,75.282956,72.644416,70.789429,0.0,590.473520,2.321475,68.248495,39.092174,35.133013,3.681961,53.835342,506.974223,29.392412,27.789132,0.144851,0.460191,258.141055,270.784417,200.620988,1552.761046,1.552760e+05,552.935989,25.239722,19.653182,550.836435,1441.72174,1.441724e+05,682.544255,22.563762,18.358286,362.778667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2018.0,1.0,1.0,1.000000,1.000000,19393.000000,1.000000,20046.000000,3306.000000,19393.000000,1.000000,10135.000000,1.013505e+06,30070.000000,1.000000,1.000000,10135.000000,1.013505e+06,30070.000000,1.000000,1.000000,5.000000,1.000000,-1280.000000,0.000000,0.000000,-2.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,-1290.000000,0.000000,0.000000,-2.000000,0.000000,0.000000,-90.000000,-1228.000000,-1244.000000,1.0,16.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,90.000000,0.000000,0.000000,10135.000000,1.013505e+06,1.000000,2.000000,2.000000,1.000000,10397.00000,1.039707e+06,36.000000,4.000000,4.000000,803.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2018.0,1.0,1.0,8.000000,2.000000,19690.000000,846.000000,20378.000000,5727.000000,19687.000000,846.000000,11292.000000,1.129202e+06,30721.000000,12.000000,34.000000,11292.000000,1.129202e+06,30721.000000,12.000000,34.000000,915.000000,922.000000,-6.000000,0.000000,0.000000,-1.000000,11.000000,939.000000,1057.000000,4.000000,1107.000000,1101.000000,-17.000000,0.000000,0.000000,-2.000000,0.000000,0.000000,88.000000,82.000000,59.000000,1.0,350.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,815.000000,16.000000,16.000000,0.000000,0.000000,248.500000,125.000000,0.000000,11298.000000,1.129806e+06,1018.000000,8.000000,7.000000,1043.000000,10821.00000,1.082106e+06,954.000000,7.000000,6.000000,953.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2018.0,1.0,1.0,16.000000,4.000000,19790.000000,1971.000000,20378.000000,6069.000000,19977.000000,1971.000000,12889.000000,1.288903e+06,31503.000000,25.000000,51.000000,12889.000000,1.288903e+06,31504.000000,25.000000,51.000000,1324.000000,1331.000000,-3.000000,0.000000,0.000000,-1.000000,15.000000,1345.000000,1511.000000,6.000000,1520.000000,1515.000000,-8.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,123.000000,116.000000,91.000000,1.0,622.000000,3.000000,0.000000,0.000000,1.000000,0.000000,2.000000,1213.000000,27.000000,27.000000,0.000000,1.000000,327.000000,178.000000,0.000000,12889.000000,1.288903e+06,1411.000000,18.000000,13.000000,1358.000000,11292.00000,1.129202e+06,1429.000000,12.000000,12.000000,1141.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2018.0,1.0,1.0,24.000000,5.000000,19977.000000,4203.000000,20378.000000,6215.000000,20366.000000,4200.000000,14057.000000,1.405702e+06,32575.000000,39.000000,82.000000,14057.000000,1.405702e+06,32575.000000,39.000000,82.000000,1730.000000,1738.000000,6.000000,6.000000,0.000000,0.000000,20.000000,1754.000000,1911.000000,8.000000,1918.250000,1916.000000,5.000000,5.000000,0.000000,0.000000,0.000000,0.000000,173.000000,165.000000,140.000000,1.0,1023.000000,5.000000,19.000000,0.000000,19.000000,0.000000,32.000000,1704.000000,43.000000,42.000000,0.000000,1.000000,450.000000,279.500000,71.000000,14107.000000,1.410702e+06,1821.000000,29.000000,21.000000,1831.000000,12892.00000,1.289208e+06,1707.000000,28.000000,20.000000,1402.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2018.0,1.0,1.0,31.000000,7.000000,21171.000000,7439.000000,21167.000000,6344.000000,21171.000000,9375.000000,16133.000000,1.613305e+06,36133.000000,78.000000,93.000000,16133.000000,1.613305e+06,36133.000000,78.000000,93.000000,2359.000000,2400.000000,1700.000000,1700.000000,1.000000,12.000000,1394.000000,2400.000000,2400.000000,258.000000,2359.000000,2400.000000,1717.000000,1717.000000,1.000000,12.000000,1.000000,1.000000,1645.000000,728.000000,683.000000,1.0,4983.000000,11.000000,1420.000000,1682.000000,1346.000000,593.000000,1379.000000,2400.000000,282.000000,232.000000,9.000000,1.000000,1514.000000,2524.000000,2462.000000,15624.000000,1.562404e+06,2400.000000,308.000000,194.000000,2358.000000,14771.00000,1.477104e+06,2243.000000,96.000000,75.000000,1950.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# 查看某一列的统计信息
dataset["Distance"].describe()

count    457688.000000
mean        783.318809
std         590.473520
min          16.000000
25%         350.000000
50%         622.000000
75%        1023.000000
max        4983.000000
Name: Distance, dtype: float64

In [ ]:
dataset.shape, len(dataset)

((457688, 120), 457688)

### 修改数据类型

In [26]:
import pandas as pd
import numpy as np

data = {"name": ["Ellie", "Joel", "Tommy"], "age": [np.nan, 12, 14]}

df = pd.DataFrame(data)
print(df.dtypes)
df.dropna(inplace=True)
# 方法一: 返回修改数据类型之后的完整的 DataFrame
df = df.astype({"age": "int"})
df.dtypes

name     object
age     float64
dtype: object

name    object
age      int64
dtype: object

In [28]:
data = {"name": ["Ellie", "Joel", "Tommy"], "age": [np.nan, 12, 14]}

df = pd.DataFrame(data)
print(df.dtypes)
df.dropna(inplace=True)

# 方法二: 返回修改数据类型之后的 Series
print(df["age"].astype("int"))
df["age"] = df["age"].astype("int")
df.dtypes

name     object
age     float64
dtype: object
1    12
2    14
Name: age, dtype: int64

name    object
age      int64
dtype: object

### 操作子列

In [37]:
# 使用 [[]] 可以确保获得的数据是 dataframe 类型
dataset[["FlightDate", "Origin"]]

        FlightDate Origin
0       2018-01-23    ABY
1       2018-01-24    ABY
2       2018-01-25    ABY
3       2018-01-26    ABY
4       2018-01-27    ABY
...            ...    ...
457683  2018-01-25    MDT
457684  2018-01-25    MSP
457685  2018-01-26    SBN
457686  2018-01-28    SLC
457687  2018-01-28    SMF

[457688 rows x 2 columns]

In [38]:
dataset[dataset.columns[:5]]  # 使用切片的形式获取前 5 列

        Year  Quarter  Month  DayofMonth  DayOfWeek
0       2018        1      1          23          2
1       2018        1      1          24          3
2       2018        1      1          25          4
3       2018        1      1          26          5
4       2018        1      1          27          6
...      ...      ...    ...         ...        ...
457683  2018        1      1          25          4
457684  2018        1      1          25          4
457685  2018        1      1          26          5
457686  2018        1      1          28          7
457687  2018        1      1          28          7

[457688 rows x 5 columns]

In [39]:
dataset[[c for c in dataset.columns if "Time" in c]]

,CRSDepTime,DepTime,DepTimeBlk,CRSArrTime,ArrTime,ArrTimeBlk,CRSElapsedTime,ActualElapsedTime,AirTime,FirstDepTime,TotalAddGTime,LongestAddGTime,DivActualElapsedTime,Div1TotalGTime,Div1LongestGTime,Div2TotalGTime,Div2LongestGTime,Div3TotalGTime,Div3LongestGTime,Div4TotalGTime,Div4LongestGTime,Div5TotalGTime,Div5LongestGTime
0,1202,1157.0,1200-1259,1304,1256.0,1300-1359,62.0,59.0,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1202,1157.0,1200-1259,1304,1258.0,1300-1359,62.0,61.0,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1202,1153.0,1200-1259,1304,1302.0,1300-1359,62.0,69.0,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1202,1150.0,1200-1259,1304,1253.0,1300-1359,62.0,63.0,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1400,1355.0,1400-1459,1500,1459.0,1500-1559,60.0,64.0,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457683,1731,1806.0,1700-1759,1919,1938.0,1900-1959,90.0,92.0,71.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
457684,1940,2001.0,1900-1959,2230,2256.0,2200-2259,110.0,115.0,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
457685,704,934.0,0700-0759,804,1021.0,0800-0859,120.0,107.0,66.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
457686,1503,1536.0,1500-1559,1608,1620.0,1600-1659,125.0,104.0,74.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
457687,1638,1707.0,1600-1659,1924,1948.0,1900-1959,105.0,101.0,79.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 展示特定数据类型的列

In [40]:
dataset.select_dtypes("int")

,Year,Quarter,Month,DayofMonth,DayOfWeek,DOT_ID_Marketing_Airline,Flight_Number_Marketing_Airline,DOT_ID_Operating_Airline,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginStateFips,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestStateFips,DestWac,CRSDepTime,CRSArrTime,DistanceGroup,DivAirportLandings
0,2018,1,1,23,2,19790,3298,20363,3298,10146,1014602,30146,13,34,10397,1039707,30397,13,34,1202,1304,1,0
1,2018,1,1,24,3,19790,3298,20363,3298,10146,1014602,30146,13,34,10397,1039707,30397,13,34,1202,1304,1,0
2,2018,1,1,25,4,19790,3298,20363,3298,10146,1014602,30146,13,34,10397,1039707,30397,13,34,1202,1304,1,0
3,2018,1,1,26,5,19790,3298,20363,3298,10146,1014602,30146,13,34,10397,1039707,30397,13,34,1202,1304,1,0
4,2018,1,1,27,6,19790,3298,20363,3298,10146,1014602,30146,13,34,10397,1039707,30397,13,34,1400,1500,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457683,2018,1,1,25,4,19790,4574,20363,9179,13230,1323002,32070,42,23,11433,1143302,31295,26,43,1731,1919,2,0
457684,2018,1,1,25,4,19790,3551,20363,9180,13487,1348702,31650,27,63,14696,1469608,34696,18,42,1940,2230,2,0
457685,2018,1,1,26,5,19790,3554,20363,9178,14696,1469608,34696,18,42,13487,1348702,31650,27,63,704,804,2,0
457686,2018,1,1,28,7,19790,5727,20304,4864,14869,1486903,34614,49,87,14893,1489302,33192,6,91,1503,1608,3,0
457687,2018,1,1,28,7,19790,5727,20304,4865,14893,1489302,33192,6,91,14869,1486903,34614,49,87,1638,1924,3,0

### index method

`set_index()` 可以将列作为索引，更方便得查找数据

In [30]:
import pandas as pd

data = {
    "Name": ["zzzongzii", "Landon", "Ellie", "Joel"],
    "Email": ["1", "2", "3", "4"],
    "Hobby": ["Code", "Game", "Space", "Song"],
}

df = pd.DataFrame(data)
df.set_index("Name", inplace=True)
df.loc[["Ellie"]]

      Email  Hobby
Name
Ellie     3  Space

In [36]:
data = {
    "Name": ["zzzongzii", "Landon", "Ellie", "Joel"],
    "Email": ["1", "2", "3", "4"],
    "Hobby": ["Code", "Game", "Space", "Song"],
}

df = pd.DataFrame(data)

df.index = [3, 2, 1, 0]
df.sort_index(inplace=True)
df

        Name Email  Hobby
0       Joel     4   Song
1      Ellie     3  Space
2     Landon     2   Game
3  zzzongzii     1   Code

In [38]:
import pandas as pd

data = {
    "Name": ["zzzongzii", "Landon", "Ellie", "Joel"],
    "Email": ["1", "2", "3", "4"],
    "Hobby": ["Code", "Game", "Space", "Song"],
}

df = pd.DataFrame(data)
df.set_index("Name", inplace=True)
df.sort_index(inplace=True)
df

          Email  Hobby
Name
Ellie         3  Space
Joel          4   Song
Landon        2   Game
zzzongzii     1   Code

`reset_index()` 如果不设置 drop 的话会将原来的 index 生成一列新数据存储进 df 同时新建索引。但是设置了 `drop=True` 的话就只会丢弃原来的索引再新建了

### filter method

In [ ]:
import pandas as pd

data = {
    "Name": ["zzzongzii", "Landon", "Ellie", "Joel"],
    "Email": ["1", "2", "3", "4"],
    "Hobby": ["Code", "Game", "Space", "Song"],
}

df = pd.DataFrame(data)

# 两个条件，使用'或'连接
filter_condition = (df["Name"] == "zzzongzii") | (df["Hobby"] == "Game")

print(df.loc[~filter_condition])

target_hobby = "Game"
df.query("Name == 'zzzongzii' | Hobby == @target_hobby")

    Name Email  Hobby
2  Ellie     3  Space
3   Joel     4   Song

        Name Email Hobby
0  zzzongzii     1  Code
1     Landon     2  Game

In [46]:
import pandas as pd

data = {
    "Name": ["zzzongzii", "Landon", "Ellie", "Joel"],
    "Email": ["1", "2", "3", "4"],
    "Hobby": ["Code", "Game", "Space", "Song"],
    "age": [21, 21, 14, 57],
}

df = pd.DataFrame(data)

df[df["age"] < 18].reset_index(drop=True)

    Name Email  Hobby  age
0  Ellie     3  Space   14

In [ ]:
target_name = ["Ellie", "Joel"]

# 判断是否在期望列表中
df.loc[df["Name"].isin(target_name)]

    Name Email  Hobby  age
2  Ellie     3  Space   14
3   Joel     4   Song   57

In [ ]:
import pandas as pd

data = {
    "Name": ["zzzongzii", "Landon", "Ellie", "Joel"],
    "Email": ["1", "2", "3", "4"],
    "Hobby": ["Code", "Game", "Space, Song", "Song"],
}

df = pd.DataFrame(data)
# 取出字符串值，并判断时候存在 Song 关键字 (不管 Nan 值)
condition = df["Hobby"].str.contains("Song", na=False)
df.loc[condition, ["Name", "Hobby"]]

    Name        Hobby
2  Ellie  Space, Song
3   Joel         Song

### change data

In [152]:
import pandas as pd

data = {
    "Name": ["zzzongzii", "Landon", "Ellie", "Joel"],
    "Email": ["1", "2", "3", "4"],
    "Hobby": ["Code", "Code", "Space", "Song"],
    "age": [21, 21, 14, 57],
}

df = pd.DataFrame(data)

df["Hobby"].replace("Code", "Programming", inplace=True)
df

C:\Users\34408\AppData\Local\Temp\ipykernel_5128\4023703413.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Hobby"].replace("Code", "Programming", inplace=True)

        Name Email        Hobby  age
0  zzzongzii     1  Programming   21
1     Landon     2  Programming   21
2      Ellie     3        Space   14
3       Joel     4         Song   57

In [ ]:
import pandas as pd

data = {
    "Name": ["zzzongzii", "Landon", "Ellie", "Joel"],
    "Email": ["1", "2", "3", "4"],
    "Hobby": ["Code", "Game", "Space, Song", "Song"],
}

df = pd.DataFrame(data)

# 对全体都执行 len 函数
print(df.map(len))

# 对某一列执行函数
df["Name"] = df["Name"].apply(str.upper)

df

   Name  Email  Hobby
0     9      1      4
1     6      1      4
2     5      1     11
3     4      1      4

        Name Email        Hobby
0  ZZZONGZII     1         Code
1     LANDON     2         Game
2      ELLIE     3  Space, Song
3       JOEL     4         Song

In [ ]:
import pandas as pd

data = {
    "Name": ["zzzongzii", "Landon", "Ellie", "Joel"],
    "Email": ["1", "2", "3", "4"],
    "Hobby": ["Code", "Game", "Space, Song", "Song"],
}

df = pd.DataFrame(data)
# 对整行或者整列使用函数 (axis 设置视角，遍历行的视角是从上到下，遍历列的是从左到右)
print(df.apply(len, axis="rows"))  # 按行计数,以列为索引（每列有几行数据）
print("=" * 10)
print(df.apply(len, axis="columns"))  # 按列计数 （每行有几列数据）

Name     4
Email    4
Hobby    4
dtype: int64
==========
0    3
1    3
2    3
3    3
dtype: int64

In [ ]:
import pandas as pd

data = {
    "Name": ["zzzongzii", "Landon", "Ellie", "Joel"],
    "Email": ["1", "2", "3", "4"],
    "Hobby": ["Code", "Game", "Space, Song", "Song"],
}

df = pd.DataFrame(data)

# 将行重命名
df.rename(columns={"Name": "name", "Email": "email", "Hobby": "hobby"}, inplace=True)
df

        name email        hobby
0  zzzongzii     1         Code
1     Landon     2         Game
2      Ellie     3  Space, Song
3       Joel     4         Song

In [ ]:
import pandas as pd

data = {
    "Name": ["zzzongzii", "Landon", "Ellie", "Joel"],
    "Email": ["1", "2", "3", "4"],
    "Hobby": ["Code", "Game", "Space, Song", "Song"],
}

df = pd.DataFrame(data)

# 如果使用 map 修改一列中的某些数据，那么没设置的值直接变为 Nan
# 适用于只有固定数量的结果
print(df["Name"].map({"zzzongzii": "zongzi"}))

# 使用 replace 可以只给指定的值修改
print(df["Name"].replace({"zzzongzii": "zongzi"}))

0    zongzi
1       NaN
2       NaN
3       NaN
Name: Name, dtype: object
0    zongzi
1    Landon
2     Ellie
3      Joel
Name: Name, dtype: object

In [ ]:
import pandas as pd

data = {
    "Name": ["zzzongzii", "Landon", "Ellie", "Joel"],
    "Email": ["1", "2", "3", "4"],
    "Hobby": ["Code", "Game", "Space, Song", "Song"],
}

df = pd.DataFrame(data)

# 修改一整行数据
df.loc[df["Name"] == "zzzongzii"] = ["zongzi", "344", "Coding"]
print(df)

print("=" * 20)

# 精准修改
df.loc[df["Name"] == "zongzi", "Hobby"] = "Code"
print(df)

     Name Email        Hobby
0  zongzi   344       Coding
1  Landon     2         Game
2   Ellie     3  Space, Song
3    Joel     4         Song
====================
     Name Email        Hobby
0  zongzi   344         Code
1  Landon     2         Game
2   Ellie     3  Space, Song
3    Joel     4         Song

In [ ]:
import pandas as pd

data = {
    "Name": ["zzzongzii", "Landon", "Ellie", "Joel"],
    "Email": ["1", "2", "3", "4"],
    "Hobby": ["Code", "Game", "Space, Song", "Song"],
}

df = pd.DataFrame(data)

# 修改一整行数据
df.loc[df["Name"] == "zzzongzii"] = ["zongzi", "344", "Coding"]
print(df)

### Add-Remove-Rows-and-Columns

In [98]:
import pandas as pd

people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@gmail.com", "JaneDoe@email.com", "JohnDoe@email.com"],
}

df = pd.DataFrame(people)

# 新增列
df["full_name"] = df["first"] + " " + df["last"]
df

   first     last                    email      full_name
0  Corey  Schafer  CoreyMSchafer@gmail.com  Corey Schafer
1   Jane      Doe        JaneDoe@email.com       Jane Doe
2   John      Doe        JohnDoe@email.com       John Doe

In [ ]:
import pandas as pd

people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@gmail.com", "JaneDoe@email.com", "JohnDoe@email.com"],
}

df = pd.DataFrame(people)

# 新增列
df["full_name"] = df["first"] + " " + df["last"]

# 逆转这个过程
print(df["full_name"].str.split(" "))  # 返回结果列表

# 我们希望得到单独的两列
print(df["full_name"].str.split(" ", expand=True))

# 将这两列赋予正式的列
df[["first", "last"]] = df["full_name"].str.split(" ", expand=True)
df  # 我们成功得到了原df

0    [Corey, Schafer]
1         [Jane, Doe]
2         [John, Doe]
Name: full_name, dtype: object
       0        1
0  Corey  Schafer
1   Jane      Doe
2   John      Doe

   first     last                    email      full_name
0  Corey  Schafer  CoreyMSchafer@gmail.com  Corey Schafer
1   Jane      Doe        JaneDoe@email.com       Jane Doe
2   John      Doe        JohnDoe@email.com       John Doe

In [ ]:
import pandas as pd

people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@gmail.com", "JaneDoe@email.com", "JohnDoe@email.com"],
}

df = pd.DataFrame(people)

# 删除列
df.drop(columns=["first", "last"], inplace=True)
df

                     email
0  CoreyMSchafer@gmail.com
1        JaneDoe@email.com
2        JohnDoe@email.com

In [109]:
import pandas as pd

people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@gmail.com", "JaneDoe@email.com", "JohnDoe@email.com"],
}

df = pd.DataFrame(people)

# 删除行
df.drop(index=[0, 1], inplace=True)
df.reset_index(drop=True)

  first last              email
0  John  Doe  JohnDoe@email.com

In [ ]:
import pandas as pd

people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@gmail.com", "JaneDoe@email.com", "JohnDoe@email.com"],
}

df = pd.DataFrame(people)

# index 也可配合布尔掩码获取 index
cond = df["last"] == "Doe"
df.drop(index=df[cond].index, inplace=True)  # pyright: ignore[reportCallIssue]
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com

In [114]:
import pandas as pd

people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@gmail.com", "JaneDoe@email.com", "JohnDoe@email.com"],
}

df = pd.DataFrame(people)

# 添加新数据 (需要忽略原索引，否则报错)
df = df._append([{"last": "Sekiro"}, {"last": "Elden"}], ignore_index=True)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3    NaN   Sekiro                      NaN
4    NaN    Elden                      NaN

In [116]:
import pandas as pd

people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@gmail.com", "JaneDoe@email.com", "JohnDoe@email.com"],
}

df1 = pd.DataFrame(people)

# 更多用的是 concat
df2 = pd.DataFrame({"last": ["Sekiro", "Elden"]})

pd.concat([df, df2])

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
0    NaN   Sekiro                      NaN
1    NaN    Elden                      NaN

In [119]:
import pandas as pd

people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@gmail.com", "JaneDoe@email.com", "JohnDoe@email.com"],
}

df = pd.DataFrame(people)
df["full_name"] = df["first"] + " " + df["last"]

people = {
    "first": ["Tony", "Steve"],
    "last": ["Stark", "Rogers"],
    "email": ["IronMan@avenge.com", "Cap@avenge.com"],
}
df2 = pd.DataFrame(people)

# 重建索引
df = df._append(df2, ignore_index=True)
df

   first     last                    email      full_name
0  Corey  Schafer  CoreyMSchafer@gmail.com  Corey Schafer
1   Jane      Doe        JaneDoe@email.com       Jane Doe
2   John      Doe        JohnDoe@email.com       John Doe
3   Tony    Stark       IronMan@avenge.com            NaN
4  Steve   Rogers           Cap@avenge.com            NaN

### sort

In [139]:
import pandas as pd

people = {
    "first": ["Corey", "Jane", "John", "Adam"],
    "last": ["Schafer", "Doe", "Doe", "Doe"],
    "email": [
        "CoreyMSchafer@gmail.com",
        "JaneDoe@email.com",
        "JohnDoe@email.com",
        "A@email.com",
    ],
}

df = pd.DataFrame(people)
df.sort_values(by="last", ascending=False)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com

In [133]:
# 先按 last 排序，相同按 first 排序
df.sort_values(by=["last", "first"], ascending=False, inplace=True)

In [140]:
# 先按 last 降序，相同按 first 升序
df.sort_values(by=["last", "first"], ascending=[False, True])

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
3   Adam      Doe              A@email.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [134]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@email.com
1   Jane      Doe        JaneDoe@email.com
3   Adam      Doe              A@email.com

In [135]:
df.sort_index(ascending=True, inplace=True)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com

In [136]:
df["first"].sort_values(ascending=True)

3     Adam
0    Corey
1     Jane
2     John
Name: first, dtype: object

In [ ]:
import pandas as pd

data = {
    "Name": ["zzzongzii", "Landon", "Ellie", "Joel"],
    "Email": ["1", "2", "3", "4"],
    "Hobby": ["Code", "Game", "Space", "Song"],
    "age": [21, 21, 14, 57],
}

df = pd.DataFrame(data)

# 获得最大的几个值
print(df["age"].nlargest(2))

# 展示全貌
df.nlargest(2, "age")

3    57
0    21
Name: age, dtype: int64

        Name Email Hobby  age
3       Joel     4  Song   57
0  zzzongzii     1  Code   21

### groupby and agg

In [ ]:
import pandas as pd

data = {
    "Name": ["zzzongzii", "Landon", "Ellie", "Joel"],
    "Email": ["1", "2", "3", "4"],
    "Hobby": ["Code", "Code", "Space", "Song"],
    "age": [21, 21, 14, 57],
}

df = pd.DataFrame(data)

groups = df.groupby(by="Hobby")

# 获得一个 group
groups.get_group("Code")
# 获得一群 group
for group_name, group_df in groups:
    print(f"Group name is {group_name}")
    print(group_df)

Group name is Code
        Name Email Hobby  age
0  zzzongzii     1  Code   21
1     Landon     2  Code   21
Group name is Song
   Name Email Hobby  age
3  Joel     4  Song   57
Group name is Space
    Name Email  Hobby  age
2  Ellie     3  Space   14
CPU times: total: 15.6 ms
Wall time: 16.9 ms

`agg()` 见另一个文件

In [14]:
import pandas as pd
import numpy as np

data = {"name": ["Ellie", "Joel", "Tommy"], "age": [np.nan, 12, 14]}

df = pd.DataFrame(data)
df

    name   age
0  Ellie   NaN
1   Joel  12.0
2  Tommy  14.0

In [21]:
df.dropna(inplace=True)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, 1 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    2 non-null      object
 1   age     2 non-null      float64
dtypes: float64(1), object(1)
memory usage: 48.0+ bytes
None

In [38]:
import pandas as pd
import numpy as np

data = {"name": ["Ellie", "Joel", "Tommy"], "age": [np.nan, 12, 14]}

df = pd.DataFrame(data)
df

    name   age
0  Ellie   NaN
1   Joel  12.0
2  Tommy  14.0

In [41]:
df["age"] = df["age"].fillna(value=0)
df

    name   age
0  Ellie   0.0
1   Joel  12.0
2  Tommy  14.0

In [46]:
data = {"name": ["Ellie", "Joel"], "age": [11, 12]}
df1 = pd.DataFrame(data)

data = {"name": ["Tommy"], "age": [14]}
df2 = pd.DataFrame(data)

pd.concat([df1, df2], axis=0)

    name  age
0  Ellie   11
1   Joel   12
0  Tommy   14

### 数据透视表

常用聚合函数

- 'sum': 求和
- 'mean': 平均值
- 'count': 计数
- 'min': 最小值
- 'max': 最大值
- 'std': 标准差
- 'var': 方差
- np.median: 中位数
- 自定义函数

In [50]:
import pandas as pd
import numpy as np

# 创建示例数据
data = {
    "Date": [
        "2023-01-01",
        "2023-01-01",
        "2023-01-02",
        "2023-01-02",
        "2023-01-01",
        "2023-01-02",
    ],
    "City": ["北京", "上海", "北京", "上海", "广州", "广州"],
    "Product": ["A", "A", "B", "B", "A", "A"],
    "Sales": [100, 150, 200, 120, 80, 90],
    "Quantity": [10, 15, 20, 12, 8, 9],
}

df = pd.DataFrame(data)
print("原始数据:")
print(df)

# 1. 基本透视表 - 按城市和产品汇总销售额
pivot1 = pd.pivot_table(
    df,
    values="Sales",  # 汇总销售额
    index="City",  # 行索引为城市
    columns="Product",  # 列索引为产品
    aggfunc="sum",
)  # 使用求和聚合
print("\n按城市和产品汇总销售额:")
print(pivot1)

原始数据:
         Date City Product  Sales  Quantity
0  2023-01-01   北京       A    100        10
1  2023-01-01   上海       A    150        15
2  2023-01-02   北京       B    200        20
3  2023-01-02   上海       B    120        12
4  2023-01-01   广州       A     80         8
5  2023-01-02   广州       A     90         9

按城市和产品汇总销售额:
Product      A      B
City
上海       150.0  120.0
北京       100.0  200.0
广州       170.0    NaN

In [51]:
# 2. 多个聚合函数
pivot2 = pd.pivot_table(
    df,
    values="Sales",
    index="City",
    columns="Product",
    aggfunc=["sum", "mean", "count"],
)
print("\n多个聚合函数:")
print(pivot2)

多个聚合函数:
           sum          mean        count
Product      A      B      A      B     A    B
City
上海       150.0  120.0  150.0  120.0   1.0  1.0
北京       100.0  200.0  100.0  200.0   1.0  1.0
广州       170.0    NaN   85.0    NaN   2.0  NaN

In [54]:
# 3. 多个数值列
pivot3 = pd.pivot_table(
    df, values=["Sales", "Quantity"], index="City", columns="Product", aggfunc="sum"
)
print("\n多个数值列:")
print(pivot3)

多个数值列:
        Quantity        Sales
Product        A     B      A      B
City
上海          15.0  12.0  150.0  120.0
北京          10.0  20.0  100.0  200.0
广州          17.0   NaN  170.0    NaN

In [57]:
# 多个值与多个聚合函数
pivot3_1 = pd.pivot_table(
    df,
    values=["Sales", "Quantity"],
    index="City",
    columns="Product",
    aggfunc=["sum", "mean", "count"],
)
print("\n多个数值列与多个聚合函数:")
print(pivot3_1)

多个数值列与多个聚合函数:
             sum                         mean                        count  \
        Quantity        Sales        Quantity        Sales        Quantity
Product        A     B      A      B        A     B      A      B        A
City
上海          15.0  12.0  150.0  120.0     15.0  12.0  150.0  120.0      1.0
北京          10.0  20.0  100.0  200.0     10.0  20.0  100.0  200.0      1.0
广州          17.0   NaN  170.0    NaN      8.5   NaN   85.0    NaN      2.0


             Sales
Product    B     A    B
City
上海       1.0   1.0  1.0
北京       1.0   1.0  1.0
广州       NaN   2.0  NaN

In [ ]:
# 4. 添加总计行和列
pivot4 = pd.pivot_table(
    df,
    values="Sales",
    index="City",
    columns="Product",
    aggfunc="sum",
    margins=True,  # 添加总计
    margins_name="总计",
)  # 总计行/列的名称
print("\n添加总计:")
print(pivot4)

# 5. 填充缺失值
pivot5 = pd.pivot_table(
    df, values="Sales", index="City", columns="Product", aggfunc="sum", fill_value=0
)  # 用0填充缺失值
print("\n填充缺失值:")
print(pivot5)

# 6. 多层索引
pivot6 = pd.pivot_table(
    df,
    values="Sales",
    index=[
        "Date",
        "City",
    ],  # 多层行索引(按照顺序进行聚合,先按照时间聚合,再按照城市聚合)
    columns="Product",
    aggfunc="sum",
)
print("\n多层索引:")
print(pivot6)

添加总计:
Product      A      B   总计
City
上海       150.0  120.0  270
北京       100.0  200.0  300
广州       170.0    NaN  170
总计       420.0  320.0  740

填充缺失值:
Product    A    B
City
上海       150  120
北京       100  200
广州       170    0

多层索引:
Product              A      B
Date       City
2023-01-01 上海    150.0    NaN
           北京    100.0    NaN
           广州     80.0    NaN
2023-01-02 上海      NaN  120.0
           北京      NaN  200.0
           广州     90.0    NaN

### `melt` 转化数据显示格式

In [61]:
import pandas as pd


# 1. 基本示例 - 宽格式转长格式
print("=== 基本melt示例 ===")
wide_data = pd.DataFrame(
    {
        "Name": ["张三", "李四", "王五"],
        "语文": [85, 92, 78],
        "数学": [90, 88, 95],
        "英语": [78, 85, 82],
    }
)

print("原始宽格式数据:")
print(wide_data)

# 使用melt转换为长格式
long_data = pd.melt(
    wide_data,
    id_vars=["Name"],  # 保持Name列不变
    value_vars=["语文", "数学", "英语"],  # 要融化的列
    var_name="科目",  # 变量列名称
    value_name="成绩",
)  # 值列名称

print("\n转换后的长格式数据:")
print(long_data)

=== 基本melt示例 ===
原始宽格式数据:
  Name  语文  数学  英语
0   张三  85  90  78
1   李四  92  88  85
2   王五  78  95  82

转换后的长格式数据:
  Name  科目  成绩
0   张三  语文  85
1   李四  语文  92
2   王五  语文  78
3   张三  数学  90
4   李四  数学  88
5   王五  数学  95
6   张三  英语  78
7   李四  英语  85
8   王五  英语  82

In [ ]:
# 2. 不指定value_vars（默认融化所有非id_vars列）
print("\n=== 不指定value_vars ===")
long_data2 = pd.melt(wide_data, id_vars=["Name"], var_name="科目", value_name="成绩")
print(long_data2)

=== 不指定value_vars ===
  Name  科目  成绩
0   张三  语文  85
1   李四  语文  92
2   王五  语文  78
3   张三  数学  90
4   李四  数学  88
5   王五  数学  95
6   张三  英语  78
7   李四  英语  85
8   王五  英语  82

In [ ]:
# 3. 多个标识符列
print("\n=== 多个标识符列 ===")
sales_data = pd.DataFrame(
    {
        "Region": ["北京", "上海", "广州"],
        "Salesperson": ["小王", "小李", "小张"],
        "Q1": [100, 150, 120],
        "Q2": [110, 140, 130],
        "Q3": [120, 160, 125],
        "Q4": [130, 170, 135],
    }
)

print("原始销售数据:")
print(sales_data)

melted_sales = pd.melt(
    sales_data,
    id_vars=["Region", "Salesperson"],  # 多个标识符
    var_name="Quarter",
    value_name="Sales",
)

print("\n融化后的销售数据:")
print(melted_sales)

# 4. 部分列融化
print("\n=== 部分列融化 ===")
partial_melt = pd.melt(
    sales_data,
    id_vars=["Region", "Salesperson"],
    value_vars=["Q1", "Q2"],  # 只融化Q1和Q2
    var_name="Quarter",
    value_name="Sales",
)

print("只融化Q1和Q2:")
print(partial_melt)  # Q3 Q4 的数据就不会再显示了

=== 多个标识符列 ===
原始销售数据:
  Region Salesperson   Q1   Q2   Q3   Q4
0     北京          小王  100  110  120  130
1     上海          小李  150  140  160  170
2     广州          小张  120  130  125  135

融化后的销售数据:
   Region Salesperson Quarter  Sales
0      北京          小王      Q1    100
1      上海          小李      Q1    150
2      广州          小张      Q1    120
3      北京          小王      Q2    110
4      上海          小李      Q2    140
5      广州          小张      Q2    130
6      北京          小王      Q3    120
7      上海          小李      Q3    160
8      广州          小张      Q3    125
9      北京          小王      Q4    130
10     上海          小李      Q4    170
11     广州          小张      Q4    135

=== 部分列融化 ===
只融化Q1和Q2:
  Region Salesperson Quarter  Sales
0     北京          小王      Q1    100
1     上海          小李      Q1    150
2     广州          小张      Q1    120
3     北京          小王      Q2    110
4     上海          小李      Q2    140
5     广州          小张      Q2    130